<a href="https://colab.research.google.com/github/dkavali/data690_Dikshitha/blob/main/Individual_project_Part_B/Individual_project_Part_B_Draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import plotly
print('plotly version',plotly.__version__)
import plotly.graph_objects as go
import plotly.express as px
import plotlywidget

plotly version 4.4.1

In [ ]:
df = pd.read_csv('wdi_data.csv')
df.head()

   Unnamed: 0  Year  ...  Income Group    Lending Type
0           0  2015  ...   High income  Not classified
1           1  2016  ...   High income  Not classified
2           2  2017  ...   High income  Not classified
3           3  2018  ...   High income  Not classified
4           4  2019  ...   High income  Not classified

[5 rows x 9 columns]

In [ ]:
df_new= df.drop(columns=["Unnamed: 0"])
df_new.head()

   Year         value  ... Income Group    Lending Type
0  2015  7.506363e+11  ...  High income  Not classified
1  2016  7.949772e+11  ...  High income  Not classified
2  2017  8.427717e+11  ...  High income  Not classified
3  2018  7.740269e+11  ...  High income  Not classified
4  2019  8.342260e+11  ...  High income  Not classified

[5 rows x 8 columns]

In [ ]:
df_new.tail(20)

     Year       value  ...         Income Group    Lending Type
83   2017  197.713256  ...  Upper middle income            IBRD
84   2018  206.654399  ...  Upper middle income            IBRD
85   2019  214.288002  ...  Upper middle income            IBRD
86   2020  258.551270  ...  Upper middle income            IBRD
87   2015   45.966272  ...  Lower middle income            IBRD
88   2016   46.289084  ...  Lower middle income            IBRD
89   2017   47.136678  ...  Lower middle income            IBRD
90   2018   56.771908  ...  Lower middle income            IBRD
91   2019   56.214994  ...  Lower middle income            IBRD
92   2020   74.950604  ...  Lower middle income            IBRD
93   2015  113.822662  ...          High income  Not classified
94   2016  105.444196  ...          High income  Not classified
95   2017   92.842927  ...          High income  Not classified
96   2018  119.016616  ...          High income  Not classified
97   2019   82.337900  ...          High income  Not classified
98   2020   94.328850  ...          High income  Not classified
99   2015  165.147847  ...          High income  Not classified
100  2016   94.718850  ...          High income  Not classified
101  2017  116.078469  ...          High income  Not classified
102  2018  108.512636  ...          High income  Not classified

[20 rows x 8 columns]

In [ ]:
df_ind = df_new[df_new['Country Code']== 'IND']
df_ind

    Year         value  ...         Income Group Lending Type
18  2015  8.021892e+11  ...  Lower middle income         IBRD
19  2016  8.083451e+11  ...  Lower middle income         IBRD
20  2017  1.204808e+12  ...  Lower middle income         IBRD
21  2018  1.295711e+12  ...  Lower middle income         IBRD
22  2019  1.285594e+12  ...  Lower middle income         IBRD
23  2020  1.945317e+12  ...  Lower middle income         IBRD
53  2015  3.813434e+01  ...  Lower middle income         IBRD
54  2016  3.522511e+01  ...  Lower middle income         IBRD
55  2017  4.543920e+01  ...  Lower middle income         IBRD
56  2018  4.796955e+01  ...  Lower middle income         IBRD
57  2019  4.478637e+01  ...  Lower middle income         IBRD
58  2020  7.416429e+01  ...  Lower middle income         IBRD
87  2015  4.596627e+01  ...  Lower middle income         IBRD
88  2016  4.628908e+01  ...  Lower middle income         IBRD
89  2017  4.713668e+01  ...  Lower middle income         IBRD
90  2018  5.677191e+01  ...  Lower middle income         IBRD
91  2019  5.621499e+01  ...  Lower middle income         IBRD
92  2020  7.495060e+01  ...  Lower middle income         IBRD

[18 rows x 8 columns]

In [ ]:
df_ind_stocks = df_ind.query("indicator in(['CM.MKT.TRNR','CM.MKT.TRAD.GD.ZS','CM.MKT.TRAD.CD'])")
df_ind_stocks

    Year         value  ...         Income Group Lending Type
18  2015  8.021892e+11  ...  Lower middle income         IBRD
19  2016  8.083451e+11  ...  Lower middle income         IBRD
20  2017  1.204808e+12  ...  Lower middle income         IBRD
21  2018  1.295711e+12  ...  Lower middle income         IBRD
22  2019  1.285594e+12  ...  Lower middle income         IBRD
23  2020  1.945317e+12  ...  Lower middle income         IBRD
53  2015  3.813434e+01  ...  Lower middle income         IBRD
54  2016  3.522511e+01  ...  Lower middle income         IBRD
55  2017  4.543920e+01  ...  Lower middle income         IBRD
56  2018  4.796955e+01  ...  Lower middle income         IBRD
57  2019  4.478637e+01  ...  Lower middle income         IBRD
58  2020  7.416429e+01  ...  Lower middle income         IBRD
87  2015  4.596627e+01  ...  Lower middle income         IBRD
88  2016  4.628908e+01  ...  Lower middle income         IBRD
89  2017  4.713668e+01  ...  Lower middle income         IBRD
90  2018  5.677191e+01  ...  Lower middle income         IBRD
91  2019  5.621499e+01  ...  Lower middle income         IBRD
92  2020  7.495060e+01  ...  Lower middle income         IBRD

[18 rows x 8 columns]

In [ ]:
df_pivot = df_ind_stocks.pivot(index =['Year','Country Code','Country Name','Region','Income Group','Lending Type'], columns ='indicator', values ='value').reset_index()
df_pivot

indicator  Year Country Code  ... CM.MKT.TRAD.GD.ZS CM.MKT.TRNR
0          2015          IND  ...         38.134336   45.966272
1          2016          IND  ...         35.225108   46.289084
2          2017          IND  ...         45.439204   47.136678
3          2018          IND  ...         47.969552   56.771908
4          2019          IND  ...         44.786366   56.214994
5          2020          IND  ...         74.164285   74.950604

[6 rows x 9 columns]

In [ ]:
fig = px.bar(
    df_pivot.dropna(),
    x = "Year",
    y = "CM.MKT.TRAD.CD",
    title = "Stocks",
    labels = {"Year":"Year","CM.MKT.TRAD.CD":"Stocks"},
    color = "Region",
    hover_name = "Country Name",
    text = "Country Name",
    
)

fig.show()